<?xml version="1.0"?>
<robot name="medium_box">
    <link name="base_link">
        <visual name="visual">
            <geometry name="geometry">
                <box size="0.340 0.250 0.095"/>
            </geometry>
            <material name="green">
                <color rgba="0.0 1.0 0.0 1.0"/>
            </material>
        </visual>
    </link>
</robot>
