<robot name="small_box">
    <link>
        <visual name="box">
            <geometry name="visual">
                <box size="0.255, 0.155, 0.100"/>
            </geometry>
            <material>
                <color rgba="255.0 0.0 0.0 255.0"/>
            </material>
        </visual>
    </link>
</robot>